{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Resumen Semanal</h2>
        <a href="{% url 'export_csv' %}" class="btn btn-primary">Exportar a CSV</a>
    </div>

    <!-- Mostrar las horas totales trabajadas -->
    <div class="alert alert-info">
        <strong>Horas totales trabajadas: </strong>{{ total_hours }} hrs
    </div>

    <table class="table table-dark table-bordered text-center">
        <thead class="table-secondary text-dark">
            <tr>
                <th>Nombre</th>
                <th>Día de la Semana</th>
                <th>Hora de Ingreso</th>
                <th>Hora de Salida</th>
                <th>Tiempo de Almuerzo</th>
                <th>Horas Trabajadas</th>
            </tr>
        </thead>
        <tbody>
            {% for record in time_records %}
            <tr>
                <td>{{ record.employee.name }}</td>
                <td>{{ record.day_of_week }}</td>  <!-- Aquí se muestra el día de la semana -->
                <td>{{ record.time_in }}</td>
                <td>{{ record.time_out }}</td>
                <td>{{ record.lunch_time }}</td>
                <td>{{ record.total_hours }}</td>  <!-- Horas trabajadas para cada registro -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
